<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @stock_earning.stock_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @stock_earning.period %>
</p>

<p>
  <strong>Next kessan:</strong>
  <%= @stock_earning.next_kessan %>
</p>

<p>
  <strong>Month 1q:</strong>
  <%= @stock_earning.month_1q %>
</p>

<p>
  <strong>Month 2q:</strong>
  <%= @stock_earning.month_2q %>
</p>

<p>
  <strong>Month 3q:</strong>
  <%= @stock_earning.month_3q %>
</p>

<p>
  <strong>Month 4q:</strong>
  <%= @stock_earning.month_4q %>
</p>

<p>
  <strong>Profit 1q:</strong>
  <%= @stock_earning.profit_1q %>
</p>

<p>
  <strong>Profit 2q:</strong>
  <%= @stock_earning.profit_2q %>
</p>

<p>
  <strong>Profit 3q:</strong>
  <%= @stock_earning.profit_3q %>
</p>

<p>
  <strong>Profit 4q:</strong>
  <%= @stock_earning.profit_4q %>
</p>

<p>
  <strong>Forecast 1q:</strong>
  <%= @stock_earning.forecast_1q %>
</p>

<p>
  <strong>Forecast 2q:</strong>
  <%= @stock_earning.forecast_2q %>
</p>

<p>
  <strong>Forecast 3q:</strong>
  <%= @stock_earning.forecast_3q %>
</p>

<p>
  <strong>Forecast 4q:</strong>
  <%= @stock_earning.forecast_4q %>
</p>

<%= link_to 'Edit', edit_stock_earning_path(@stock_earning) %> |
<%= link_to 'Back', stock_earnings_path %>
